:root {
  --primary-color: #1e1e1e;
  background-color: var(--primary-color);
  color: white;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  border-radius: 0.25rem;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: #161616;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #ea80fc;
}

::-webkit-scrollbar-corner {
  background-color: none;
}
